{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 3, "knowledge_revision": 15, "git_revision": "0fa1466b7b6c31df5d447114063a7e1d3cf03f33", "hash": "5bddfc81c81a62715ce15265cea7b56a", "format-version": 4, "code-base-name": "default", "filename": "petcare_central/requirements.txt", "revision_history": [{"15": "0fa1466b7b6c31df5d447114063a7e1d3cf03f33"}]}